<div class="container">
  <h1>Edit Post</h1>

  <table style="width:550px;" border="1">

    <form action="/posts/<%= @post.id %>/update" method="POST">
      <tr>
        <td>Title:</td>
        <td><input type="text" style="width:515px" name="title" value="<%= @post.title %>">
      </tr>
      <tr>
        <td>Body:</td>
        <td><textarea name="body" style="height:100px; width:515px" wrap="soft"><%= @post.body %></textarea></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Update">
        </td>
      </tr>
    </form>

    <form action="/posts/<%= @post.id %>/add_tag" method="POST">
      <tr>
        <td>Taggings:</td>
        <td>
          <ul class="post_details_tags">
            <% @post.tags.each do |tag| %>
            <li><%= tag.name %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Add Taggings:</td>
        <td>
          <select name="tag_id">
            <% @tags.each do |tag| %>
            <option value="<%= tag.id %>"><%= tag.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Tag">
        </td>
      </tr>
    </form>

  </table>
</div>

<div class="container">
  <form action="/posts/<%= @post.id %>" method="GET">
    <input type="submit" value="Cancel">
  </form>
</div>
