<div class="container">

  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
  <p>Logged in as: <%= session[:email] %></p>

  <h1>Edit Post</h1>

  <table style="width:550px;" border="1">

    <form action="/posts/<%= @post.id %>/update" method="POST">
      <tr>
        <td>Title:</td>
        <td><input type="text" style="width:515px" name="title" value="<%= @post.title %>">
      </tr>
      <tr>
        <td>Body:</td>
        <td><textarea name="body" style="height:100px; width:515px" wrap="soft"><%= @post.body %></textarea></td>
      </tr>
      <tr>
        <td>Taggings:</td>
        <td>
          <ul class="post_details_tags">
            <% @tags.each do |tag| %>
            <li>
              <input type="checkbox" name="tags[]" value="<%= tag.id %>" <% if @post.tags.include?(tag) %> checked <% end %>><%= tag.name %></input>
            </li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Update">
        </td>
      </tr>
    </form>
  </table>

  <br>

  <% if @errors %>
    <p>Errors on the page:</p>
    <ul>
      <% @errors.each do |field, message| %>
      <li style="color:red"><%= field %> <%= message %></li>
      <% end %>
    </ul>
  <% end %>

</div>

<div class="container">
  <form action="/posts/<%= @post.id %>" method="GET">
    <input type="submit" value="Cancel">
  </form>
</div>
